{% extends "base.html" %}

{% block content %}
<!--todolist_form.html-->
<h2> {{title}} </h2>
<div class="container">
    <div class="row p-2">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input value="Save" class="btn btn-primary" type="submit">
            <input value="Cancel" class="btn btn-warning" type="button" onclick="location.href='{% url "lists" %}';">
        </form>
    </div>
    <div class="row">
        <p>
            {% if list %}
            <a href="{% url 'list-delete' list.id%} ">Delete this list</a>
            <input value="Delete this list" class="btn btn-warning" type="button"
                onclick="location.href='{% url "list-delete" list.id%}';">
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}