{% extends "base.html" %}

{% block content %}
<!--todoitem_form.html-->

<h1>{{title}}</h1>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input class="btn btn-primary m-2" type="submit" value="Submit">
</form>
<input value="Cancel" class="btn btn-secondary m-2" type="submit"
    onclick="location.href='{% url "list" todo_list.id %}';">
<p>
    {% if object %}
    <input value="Delete" class="btn btn-warning m-2" type="submit"
        onclick="location.href='{% url "item-delete"  todo_list.id object.id %}';">
    {% endif %}

</p>
{% endblock %}